// Colors

$back: #F2F2F2;
$color-white: #FFFFFF;
$color-gray: #979797;
$color-blue: #00A4E5;
$color-gray2: #D8D8D8;
$color-text: #48555B;
$shadow: #00000026;
$color-border:  #e6e6e6;
$color-black: #111;

//Fonts

$font-family: "Open Sans", sans-serif;
$second-family: "Bebas Neue", sans-serif;

//media-queries

$bw320:"(max-width: 319px)";
$w320:"(min-width: 320px)";
$bw400:"(max-width: 399px)";
$w400:"(min-width: 400px)";
$bw450:"(max-width: 449px)";
$w450:"(min-width: 450px)";
$bw500:"(max-width: 499px)";
$w500:"(min-width: 500px)";
$bw650: "(max-width: 649px)";
$w650: "(min-width: 650px)";
$bw600: "(max-width: 599px)";
$w600: "(min-width: 600px)";
$bw768: "(max-width: 767px)";
$w768: "(min-width: 768px)";
$bw1020: "(max-width: 1019px)";
$w1020: "(min-width: 1020px)";
$bw1170: "(max-width: 1169px)";
$w1170: "(min-width: 1170px)";
$bw1340: "(max-width: 1339px)";
$w1340: "(max-width: 1340px)";
$bw1660: "(max-width: 1659px)";
$w1660: "(min-width: 1660px)";


