@use 'var';

.want {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;

    &__container {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        max-width: 1440px;
        overflow: hidden;
        padding-top: 115px;

        @media #{var.$bw1020} {
            padding-top: 50px;
        }
    }

    &__box1 {
        position: relative;
        z-index: 0;
        box-sizing: border-box;
        display: flex;
        width: 100%;
    }

    &__pic {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;
        &::after {
            content: '';
            display: block;
            width: 100%;
            padding-top: 34.65%;
        }
        @media #{var.$bw1020} {
            &::after {
                padding-top: 66.65%;
            }
        }
    }
    &__img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__box2 {
        box-sizing: border-box;
        position: absolute; 
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 120px 25px 70px 40px;
        gap: 35px;
        text-align: center; 

        @media #{var.$bw1020} {
            padding: 20px;
            gap: 15px;
        }
    }

    &__title {
        width: 100%;
        max-width: 350px;
        margin: 0;
        color: var.$color-text;
        font-family: var.$font-family;
        font-size: 30px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
    }
}